* {
    font-family: 'Roboto', sans-serif;
    background-color: #FFE6F8;
    text-align: center;
    margin-top: 20px;
}

p {
    color: #F976D1;
    font-size: 50px;
}

img {
    height: 250px;
}

button.yes {
  background-color: #F976D1; 
  color: #FFB9EB;
  border-color: #FFB9EB;
  border-radius: 5em;
  font-size: 50px;
  height: 65px;
  width: 100px;
}

button.no {
    background-color: black;
    color: white;
    border-color: white;
    border-radius: 5em;
    margin-left: 20px;
    font-size: 50px;
    height: 65px;
    width: 125px;
    display: block;
    position: absolute;
}